<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.ligi.ticketviewer"
          android:installLocation="auto"
          android:versionCode="9"
          android:versionName="0.9">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="17"/>


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>


    <permission
            android:name="org.ligi.ticketviewer.permission.MAPS_RECEIVE"
            android:protectionLevel="signature"/>
    <uses-permission android:name="org.ligi.ticketviewer.permission.MAPS_RECEIVE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:name="org.ligi.ticketviewer.helper.ApplicationContext"
            android:theme="@style/AppTheme">


        <activity
                android:name="org.ligi.ticketviewer.TicketListActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="org.ligi.ticketviewer.TicketImportActivity" tools:ignore="ExportedActivity">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="*"
                        android:pathPattern=".*\\.pkpass"
                        android:scheme="http"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="*"
                        android:pathPattern=".*\\.pkpass"
                        android:scheme="https"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="*"
                        android:pathPattern=".*\\.pkpass"
                        android:scheme="file"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="*"
                        android:pathPattern=".*\\.pkpass"
                        android:scheme="content"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="application/vnd.apple.pkpass"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="application/vnd-com.apple.pkpass"/>
            </intent-filter>
        </activity>
        <activity
                android:name="org.ligi.ticketviewer.TicketViewActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="org.ligi.ticketviewer.FullscreenImageActivity"
                android:label="@string/app_name">
        </activity>
        <activity
                android:name="org.ligi.ticketviewer.FullscreenMapActivity">
        </activity>
        <!-- Used for install referrer tracking -->
        <receiver
                android:name="com.google.analytics.tracking.android.AnalyticsReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER"/>
            </intent-filter>
        </receiver>


        <meta-data android:name="com.google.android.maps.v2.API_KEY"
                   android:value="AIzaSyAAASj2rSvumqO1mZLMVWmZxUnzOjxLGlE"/>
    </application>


    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

</manifest>